.blogss
  .blogss_box
    .blogss_zemi zemiblog
    .blogss_title
      = @privates.title 
    .blogss_time
      = @privates.created_at.strftime('%Y/%m/%d %H:%M')
    .blogss_contents
      = @privates.content