-# .form 課題提出フォーム
-# = form_with(model: @profile, local: true, url: {action: 'confirm'}) do |f|
-#   .flash
-#     = flash[:profile]
-#   .flash
-#     = flash[:profiles]

-#   .form_box
-#     .form_box_contents
-#       .form_box_contents_image プロフィール写真
-#       = f.fields_for :images do |i|
-#         = i.file_field :src ,id: :profile_contents
-#     .form_box_contents
-#       .form_box_contents_name 名前
-#       = f.text_field :name, placeholder: "※必須　ex.山田太郎"
-#     .form_box_contents
-#       .form_box_contents_kana かな
-#       = f.text_field :kana,placeholder: "※必須　ex.やまだ　たろう"
-#     .form_box_contents
-#       .form_box_contents_number 電話番号
-#       = f.text_field :phone_number, placeholder: "※必須　ex.07012345678"
-#     .form_box_contents
-#       .form_box_contents_number メールアドレス
-#       = f.text_field :mail, placeholder: "※必須　ex.morozemi@gmail.com"
-#     .form_box_contents
-#       .form_box_contents_number 学籍番号
-#       = f.text_field :number, placeholder: "※必須　ex.15e2201"
-#     .form_box_contents
-#       .form_box_contens_undergraduate 学部
-#       = f.text_field :undergraduate, placeholder: "※必須　ex.社会学部"
-#     .form_box_contents
-#       .form_box_contens_subject 学科
-#       = f.text_field :subject, placeholder: "※必須　ex.メディア社会学科"
-#     .form_box_contents
-#       .form_box_contens_gpa 一年次のGPA
-#       = f.text_field :gpa, placeholder: "※必須　ex.4.0"
-#     .form_box_contents
-#       .form_box_contens_motivation 志望動機
-#       = f.text_area :motivation, placeholder: "※必須"
-#     .form_box_contents
-#       .form_box_contens_pr 自己PR
-#       = f.text_area :pr, placeholder: "※必須"
-#     .form_box_contents
-#       .form_box_contens_life 入ゼミした後どのような大学生活を送りたいですか？
-#       = f.text_area :life, placeholder: "※必須"
-#     .form_box_contents
-#       .form_box_contens_time 入ゼミをした後どれだけ時間をかけられますか？
-#       = f.text_area :time, placeholder: "※必須"
-#     .form_box_contents
-#       .form_box_contens_submit 課題の答え
-#       = f.text_area :task,placeholder: "※必須（参考文献も中に入れてください。書き方は論文を参考にしてください。）"

-#     .form_box_contents
-#       .form_box_contens_submit 面接希望時間
-#       = f.text_area :time1,placeholder: "※必須　\n・●月●日（●曜日）●●：●●～●●：●●\n・●月●日（●曜日）●●：●●～●●：●●\n・●月●日（●曜日）●●：●●～●●：●●"
-#     .form_box_contents
-#       = f.submit "確認画面へ",class:"send",:onclick => "window.alert('次ページの確認ページでも同じプロフィール画像を選択してください')"


%p.p2
  %br/
%p.p3 諸上ゼミ15期生選考ページ
%p.p4 
  %br
  %br
%p.p5 
  諸上ゼミ15期生の一次選考は終了いたしました。

  %br
  %br
%p.p6
  ご応募頂いた皆様ありがとうございました。

%p.p4
  %br/
%br/
%br/
%p.p7
  なお、今年度につきましては、諸般の事情を勘案して、二次選考は行わないことに決定しました。
  %span.s1>


