.title-box3{

  background-size: 500px;
  width: 1000px;
  
}

.toph{
  margin-left: 50px;
}

.main1-box{
  width: 900px;
  margin: 100px auto;

}
.five-box{
  display: flex;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
  justify-content: space-evenly;

  animation-name:left;
  animation-duration:2s; 
  animation-fill-mode: forwards;
}

@keyframes left {
  0% {
   opacity: 0;
   transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
  

.six-box{
  display: flex;
  padding-top: 100px;
  margin-bottom: 100px;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
  justify-content: space-evenly;
  animation-name:right;
  animation-duration:5s; 
  animation-fill-mode: forwards;

}

@keyframes right {
  0% {
   opacity: 0;
   transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

.seven-box{
  display: flex;
 
  margin-bottom: 100px;
  
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
  justify-content: space-evenly;
  animation-name:left;
  animation-duration:7s; 
  animation-fill-mode: forwards;
}
.eight-box{
  display: flex;
  margin-bottom: 100px;
  justify-content: space-evenly;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;

  animation-name:right;
  animation-duration:9s; 
  animation-fill-mode: forwards;

}
.nine-box{
  display: flex;
  margin-bottom: 100px;
  justify-content: space-evenly;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
  animation-name:left;
  animation-duration:11s; 
  animation-fill-mode: forwards;
}

.ten-box{
  display: flex;
  margin-bottom: 100px;
  justify-content: space-evenly;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
  animation-name:right;
  animation-duration:13s; 
  animation-fill-mode: forwards;
  
  
}

.eleven-box{
  display: flex;
  margin-bottom: 100px;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
  justify-content: space-evenly;
  animation-name:left;
  animation-duration:15s; 
  animation-fill-mode: forwards;
}


.twelbe-box{
  display: flex;
  width: 100%;
  margin-bottom: 100px;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgb(236, 232, 232);
  padding-bottom: 100px;
  justify-content: space-evenly;
  animation-name:right;
  animation-duration:17s; 
  animation-fill-mode: forwards;


}

.thirteen-box{
  display: flex;
  margin-bottom: 100px;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: space-evenly;
  animation-name:left;
  animation-duration:19s; 
  animation-fill-mode: forwards;
}
.image-9{
  height: 300px;
}

.image-10{
  width: 50%;
  height: 400px;
}

.image-11{
  width: 400px;
  height: 300px;

  margin-left: 0;
}

.image-12{
  width: 50%;
  height: 300px;

}

.image-13{
  height: 300px;
  
}

.contents {
  padding: 10px;
  color: gray;
}

.contents11{
  padding: 10px;
  color: gray;
}

.contents12{
  padding: 10px;
  color: gray;
 
}
