.form_box_contentss{
  display: flex;
  
  font-size: 20px;
  margin: auto;

}

.form_box_contentsss{
  display: flex;

  font-size: 20px;
  margin: auto;
  color:red;
  font-weight: bold;
  border: 1px solid;
  margin-bottom:100px;
}
.form_box_contentssss{
  font-size: 20px;
  margin: 50px auto;
  color:red;
  font-weight: bold;
  text-align: center;
}
.back{
  text-align: center;
  font-size: 20px;
  margin:auto;

}