.form_box_contentss{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: auto;

}

.form_box_contentsss{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: auto;
  color:red;
  font-weight: bold;
  border: 1px solid;
}
