a{
  text-decoration: none;
  color: black;
}




.photo-box{
  width: 790px;
  height: 500px;
  position: relative;
  margin:auto;

  .slider{
    position: absolute;

    width: 800px;

    margin: 0 auto;
    
    .photo1{

  
      height: 500px;

      margin: auto;
    }
    .photo2{

      height: 500px;

      margin: auto;
    }
    .photo3{

      height: 500px;

    }
    .photo4{

      height: 500px;

      margin: auto;
    }
    .photo5{

      height: 500px;

      margin: auto;
    }
    .photo6{
 
      height: 500px;

      margin: auto;
    }
 
  }

  &__logo-box{
    background-color: rgba($color: #0a0a09, $alpha: 0.3);
    position: absolute;
  
    bottom: 0px;
    height: 150px;

    &__contents1{
      color:whitesmoke;
      font-size: 50px;
      margin-bottom: 30px;
      text-align: center;
      font-weight: bold;
     
    }
    &__contents2{
      color:whitesmoke;
      border: 1px solid hsla(0,0%,100%,.7);
      padding: 10px;
      text-align: center;
      margin-left: 90px;

      border-radius: 22px;
      font-size: 20px;

      font-weight: bold;
  

    }
    
  }
}





.title{
  font-size: 30px;
  color: orange;

  width: 800px;
  margin: 50px auto;
}
.news-box{
  display: flex;
  height: 800px;
  width: 900px;
  margin: 50px auto;
  justify-content: space-evenly;
  



  &__twitter{
    width: 40%;
    height:700px;
    overflow: scroll;
    border:2px solid #ccc; 
  


  }
}

.info{
  width: 100%;
  height:700px;
  overflow: scroll;
  border:2px solid #ccc; 
}




.photo-box__logo-box__contents2:hover{
  background-color: rgba($color: #f35a01, $alpha: 0.8);
  transition: 1s;
}




.zemiblog{
  font-size: 30px;
  color: navy;
  border-top: rgba($color: #d4ccccc7, $alpha: 0.8) 1px solid;
  margin: 50px auto;
  padding-top: 30px;
}


.tweet_box{
  margin: auto;
  width: 400px;
  height: 300px;

  
}




.tweet_title{
  font-size: 20px;
  border-bottom: orange 1px solid;
  margin-left: 30px;
}
.tweet_title:hover{
  background-color: orange;
  transition: 2s;
  
}

.tweet_title{
  font-size: 20px;
  border-bottom: orange 1px solid;
  margin-left: 30px;
}

.deletes{
  font-size: 1px;
  border: orange 1px solid;
  padding: 5px;
  width: 30px;
  text-align: center;
  color: chocolate;
}



