.show-box{
  margin: auto;
  width: 800px;
 
}

.show-box-contents{
  margin-bottom: 100px;
  height: 1000px;

}

.delete{
  color: red;
  font-weight: bold;
  border: orange 1px solid;
  padding: 5px;
  
}