.simple-calendar {
  margin-left: 200px;
  margin-bottom: 100px;

  
  .day {
    width: 100px;
    height: 100px;
    font-size: 20px;
    border:1px solid;
    text-align: start;
  }

  .wday-0 {
    background-color: crimson;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {background-color: blue;}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
  .calender-title{
    color: orange;
  }
}

.calendar-heading{
  text-align: center;
  margin-bottom: 30px;

}



 
