.simple-calendar {
  margin-left: 200px;

  
  .day {
    width: 50px;
    height: 50px;
  }

  .wday-0 {
    background-color: crimson;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}