.blogs{
  margin: auto;
  width: 800px;
  margin-top: 100px;
  &_box{
    margin: 50px auto;
    &_contents{
      margin-top: 30px;
    }
  }
}

.titles{
  margin: auto;

}
#private_title{
  width: 800px;
}

#private_content{
  width: 800px;
  height: 500px;
}

.blogss{
  margin: auto;
  width: 800px;
  margin-top: 50px;

  &_zemi{
    font-size: 40px;
    text-align: center;
    color: navy;
    margin-bottom: 50px;
  }
  &_title{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    

  }
  &_time{
    color: gray;
    font-size: 10px;
    text-align: right;
  }
  &_contents{
    font-size: 20px;
    margin: 50px;
  }
}